/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */

.hero-heading-left {
    position: relative;
    padding: 80px 30px;
    border-bottom: 1px solid #e4ebf3;
    background-color: #f5f7fa;
}


/* .container {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
} */

.hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-split {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 46%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.margin-bottom-24px {
    margin-bottom: 24px;
}

.button-primary {
    padding: 12px 25px;
    background-color: #1a1b1f;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-primary:hover {
    background-color: #32343a;
    color: #fff;
}

.button-primary:active {
    background-color: #43464d;
}

.shadow-two {
    box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
}

.con {
    width: 1248px;
    margin-right: auto;
    margin-left: auto;
}

.card-about {
    overflow: hidden;
    height: auto;
    margin-top: 60px;
    margin-bottom: 0px;
    border-radius: 18px;
    background-color: #2a3235;
}

.c-h-text {
    margin-top: 20px;
    font-family: 'Golos text';
    color: #fff;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

.column-ab {
    height: 100%;
    padding: 40px;
}

.column-2-ab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #14fb9d;
}

.columns-ab {
    height: 476px;
}

.c-p-text {
    margin-top: 28px;
    color: hsla(0, 0%, 100%, 0.8);
}


/* .body {
    overflow: visible;
    border-radius: 12px;
    background-color: #f9f9f9;
    font-family: 'Golos text', sans-serif;
    font-size: 16px;
} */

.tag-about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffd031;
    color: #121314;
    font-weight: 700;
}

.card-media {
    padding-top: 24px;
}

.crd-l {
    overflow: hidden;
    padding: 48px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

.crd-pic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 355px;
    margin-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 12px;
    background-color: #ffedf2;
}

.tag-events {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffedf2;
    color: #121314;
    font-weight: 700;
}

.media-h {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #121314;
    font-size: 36px;
    line-height: 44px;
    font-weight: 900;
}

.media-p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.column {
    padding-right: 0px;
}

.xcvxcv {
    padding-left: 0px;
}

.card-reader {
    overflow: hidden;
    margin-top: 24px;
    padding: 48px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

.tag-reader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffd031;
    color: #121314;
    font-weight: 700;
}

.crd-pic-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 355px;
    margin-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 12px;
    background-color: #e1f4fe;
}

.tag-events-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #e1f4fe;
    color: #121314;
    font-weight: 700;
}

.crd-reader-yell-pic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 355px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 12px;
    background-color: #f6d155;
}

.column-3 {
    padding-left: 60px;
}

.column-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.card-video-proj {
    margin-top: 24px;
}

.crd-projects {
    overflow: hidden;
    height: 547px;
    padding: 48px;
    border-radius: 18px;
    background-color: #94d9e8;
}

.crd-videos {
    overflow: hidden;
    padding: 48px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

.column-5 {
    overflow: visible;
    height: 100%;
    padding-right: 0px;
}

.column-6 {
    padding-left: 0px;
}

.crd-pic-grn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 302px;
    margin-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 12px;
    background-color: #d9f8e4;
}

.tag-grn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #d9f8e4;
    color: #121314;
    font-weight: 700;
}

.tag-proj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
}

.card-cont-live {
    margin-top: 24px;
}

.column-7 {
    padding-left: 0px;
}

.column-8 {
    padding-right: 0px;
}

.qcont {
    overflow: hidden;
    padding: 48px;
    border-radius: 12px;
    background-color: #d9f8e4;
}

.qcont img {
    width: 100%;
}

.div-block-2 {
    overflow: hidden;
    padding: 48px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

.tag-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
}

.tag-live {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #d9f8e4;
    color: #121314;
    font-weight: 700;
}

.link-newd {
    display: inline;
    overflow: visible;
    margin-top: 20px;
    color: #0e7dff;
    font-weight: 700;
}

.asdasd {
    text-align: right;
}

.columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.asdasdasd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 728px;
    }
    .hero-wrapper {
        margin-bottom: -40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .hero-split {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .con {
        overflow: hidden;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    .hero-heading-left {
        padding: 60px 15px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: none;
    }
    .c-h-text {
        margin-top: 10px;
        font-size: 24px;
        line-height: 28px;
    }
    .column-ab {
        height: 100%;
        padding: 20px;
    }
    .c-p-text {
        margin-top: 10px;
        font-size: 16px;
    }
    .crd-l {
        padding: 20px;
    }
    .media-h {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .media-p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .column {
        padding-left: 0px;
    }
    .xcvxcv {
        margin-bottom: 10px;
        padding-right: 0px;
    }
    .card-reader {
        margin-top: 20px;
        padding: 20px;
    }
    .column-3 {
        padding-top: 20px;
        padding-left: 0px;
    }
    .crd-projects {
        margin-top: 20px;
        padding: 20px;
    }
    .crd-videos {
        padding: 20px;
    }
    .column-5 {
        padding-left: 0px;
    }
    .column-6 {
        padding-right: 0px;
    }
    .column-7 {
        padding-right: 0px;
    }
    .column-8 {
        margin-top: 20px;
        padding-left: 0px;
    }
    .qcont {
        padding: 20px;
    }
    .div-block-2 {
        padding: 20px;
    }
    .tag-live {
        font-size: 12px;
    }
    .text-block {
        font-size: 12px;
    }
    .text-block-2 {
        font-size: 12px;
    }
    .text-block-3 {
        font-size: 12px;
    }
    .text-block-4 {
        font-size: 12px;
    }
    .text-block-5 {
        font-size: 12px;
    }
}

@font-face {
    font-family: 'Golos text';
    src: url('../fonts/Golos-Text_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos text';
    src: url('../fonts/Golos-Text_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos text';
    src: url('../fonts/Golos-Text_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos text';
    src: url('../fonts/Golos Text_Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
#bookModal {
    display: none; /* Скрыть модальное окно по умолчанию */
    z-index: 1; /* Установите над другим контентом */
    overflow: hidden; /* Включить прокрутку, если нужно */
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Ширина на всю ширину */
    height: 100%; /* Высота на всю высоту */
}

#background {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%; /* Ширина на всю ширину */
    height: 100%; /* Высота на всю высоту */
    overflow: hidden; /* Включить прокрутку, если нужно */
    background-color: rgb(0,0,0); /* Цвет фона */
    background-color: rgba(0,0,0,0.4); /* Цвет фона с непрозрачностью */
}

#flipbook {
    width: 800px; /* Ширина вашей книги */
    height: 600px; /* Высота вашей книги */
}

/* Стилизация кнопки закрытия */
.close {
    color: white;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
